.header {
  background-color: indianred;
  text-align: center;
  padding: 16px;
}

.title {
  font-size: 24px;
}

.card {
  width: 300px;
  margin: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-5px);
}

.cupcake-image {
  text-align: center;
  font-size: 36px;
}

.cupcakeIcon {
  margin: 8px;
}

.card-content {
  padding: 16px;
}

.girl-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}

.girl-image img {
  max-width: 100%;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.girl-text {
  text-align: center;
  margin-top: 20px;
  font-family: 'Arial', sans-serif;
}
.girl-text h4 {
  font-size: 28px;
  color: #333;
}

.girl-text p {
  font-size: 16px;
  color: #666;
}

.center-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.css-1b4uojg-MuiButtonBase-root-MuiButton-root{
  background-color: indianred !important;
}

.success{
  background-color: green;
}

.error{
  color: rgb(32, 100, 163);
}